n8n-daily-log/Hello n8n - Daily Log.json
{
  "name": "Hello n8n - Daily Log",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "=0 30 10 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "c4f1fb58-adea-49e5-a771-cbf1568dfc33",
      "name": "Schedule Trigger",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7d123bde-131a-432b-aaf4-16631e59e6f2",
              "name": "={{$now}}",
              "value": "",
              "type": "string"
            },
            {
              "id": "6ca2e7b4-2827-4aa2-bde9-349454211afc",
              "name": "message",
              "value": "Hello from n8n!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "133cf8b5-c834-46d4-ad86-719a28b4ef8e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{\"1p-qhZ9Z9r8pitTdYKo09cSTQGiTwpNTOj12SCazhOq8\"}}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1p-qhZ9Z9r8pitTdYKo09cSTQGiTwpNTOj12SCazhOq8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_date": "={{$now}}",
            "message": "={{$json.message}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_date",
              "displayName": "run_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "bf372d8e-94da-479d-99f9-cde127c2f87f",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ihUT0zLBGsEOICTN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "aminetlili0319@gmail.com",
        "subject": "=n8n workflow ran at {{$now}}",
        "message": "=✅ Workflow: Hello n8n – Daily Log  📅 Run date: {{$now}} 📝 Message: {{$json.message}}  — Sent by n8n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "7f526db9-3b1f-4109-8e30-524794f30bb3",
      "name": "Send a message",
      "webhookId": "73d4e193-a941-4320-86d6-4395b050ec9e",
      "credentials": {
        "gmailOAuth2": {
          "id": "SlTU0kawTxe1nig6",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "1bf6d74b-b970-46f1-9d17-53442b21776d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "8rMpBeHfsAvZfHM0z1j4K",
  "tags": []
}