n8n-job-scraper/Job Scraper MVP.json
{
  "name": "Job Scraper MVP",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{\"1aO5t9wmd07pTc_U2NSXEuptbPs5CeIrFPkmz8jQcQI4\"}}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aO5t9wmd07pTc_U2NSXEuptbPs5CeIrFPkmz8jQcQI4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -800,
        -48
      ],
      "id": "74c5ffea-4eeb-478d-9461-01561613c4b5",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ihUT0zLBGsEOICTN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -992,
        -48
      ],
      "id": "2f41ad9a-a421-4df9-bfdd-3887e9abeba6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://jobs.smartrecruiters.com/VISA",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -592,
        -48
      ],
      "id": "70b36344-d537-4540-88b7-1e8cf926c0cb",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "urls",
              "cssSelector": "=li.opening-job.job a.link--block.details",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            },
            {
              "key": "titles",
              "cssSelector": "li.opening-job.job a.link--block.details h4.details-title",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -384,
        -48
      ],
      "id": "81caec06-090b-451e-8799-1bfb595a5aaf",
      "name": "HTML"
    },
    {
      "parameters": {
        "jsCode": "const urls = $json.urls || [];\nconst titles = $json.titles || [];\n\nconst seen = new Set();\nconst out = [];\n\nfor (let i = 0; i < Math.min(urls.length, titles.length); i++) {\n  const url = urls[i];\n  const title = titles[i];\n\n  if (!url || seen.has(url)) continue;\n  seen.add(url);\n\n  out.push({\n    json: {\n      url,\n      title,\n      source: \"visa_smartrecruiters\",\n      scrapedAt: new Date().toISOString()\n    }\n  });\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -48
      ],
      "id": "671f43b7-d7d5-4238-b721-92c1c2372a47",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{\"1vTXZJhcWQFcpGoZSAl4xlNFDWBQWYYFxFxb82axjHXA\"}}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vTXZJhcWQFcpGoZSAl4xlNFDWBQWYYFxFxb82axjHXA/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        32,
        -48
      ],
      "id": "afe2cca8-3349-4809-a293-5e3c7e2b68f9",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ihUT0zLBGsEOICTN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1) Get scraped jobs (36 items) from the node \"Code in JavaScript\"\nconst scraped = $items(\"Code in JavaScript\").map(i => i.json);\n\n// 2) Get existing rows from Google Sheet from \"Get row(s) in sheet1\"\nconst existingRows = $items(\"Get row(s) in sheet1\").map(i => i.json);\n\n// 3) Build a Set of existing URLs\nconst existingUrls = new Set(\n  existingRows\n    .map(r => r.url)\n    .filter(Boolean)\n    .map(u => String(u).trim())\n);\n\n// 4) Keep only NEW jobs\nconst newJobs = scraped.filter(j => {\n  const url = String(j.url || '').trim();\n  return url && !existingUrls.has(url);\n});\n\n// 5) Return as items for next node\nreturn newJobs.map(j => ({ json: j }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -48
      ],
      "id": "01e6f4ed-e1e9-4fc4-8685-47c795f189c5",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "80302833-885d-447c-947d-188b3d809c1d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "2mqXH-lUbVkgMfr6aGYRH",
  "tags": []
}